.search-result-view {
	.result-row {
		padding: 10px;
		border-bottom: 1px solid #BFBFBF;
	}

	.result-row:hover {
		cursor: pointer;
		background-color: #ECF0F1;
	}
}

.search-tool-view {
	background-color: #ECF0F1;
}
