.search-result-view {
	.hz-result-row {
		padding: 10px;
		border-bottom: 1px solid #BFBFBF;
		position: relative;
		height: 80px;

		&:hover {
			cursor: pointer;
			background-color: #ECF0F1;
		}

		.hz-thumb {
			position: absolute;
			top: 5px;
			right: 5px;
			height: 70px;
		}
	}

	.hz-search-tool-view {
		background-color: #ECF0F1;
	}
}

.search-result-info {
	width: 220px; // 140+5+75
	height: 70px;

	.hz-thumb {
		float: left;
		height: 100%;
		margin-right: 5px;
	}

	.hz-summary {
		display: inline-block;
		height: 100%;

		H4 {
			color: orangered;
			font-size: 2em;
			text-align: center;
		}

		H5 {
			font-size: 0.9em;
			text-align: center;
		}
	}
}

.search-panel {
	&.hz-collapsed {
		display: none;
	}
}

%collapse-expand-shared {
	font-size: 20px;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.search-panel-collapse-expand-ct {
	background-color: white;
	height: 40px;
	width: 40px;
	padding: 0px;
	z-index: 2;
	color: $base-color;
	cursor: pointer;

	.x-container-inner {
		display: table;
	}

	&.hz-collapsed {
		.expander {
			@extend %collapse-expand-shared
		}
	
		.collapser {
			display: none;
		}
	}

	.expander {
		display: none;
	}

	.collapser {
		@extend %collapse-expand-shared
	}
}